.product-card{
    max-width: 300px;
    overflow: hidden;
    height: 500px;
    padding: 15px;
    margin: 10px 0;
    position: relative;
    transition: transform 1s;
    color: white;
    border: 1px solid;
    border-width: 2px;
    border-image-slice: 1;
    border-style: solid;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  
}
.product-card:hover{
    transform: scale(1.03);
}
.product-card img{
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
}
.product-box h2{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: capitalize;
    cursor: pointer;
    color: #ffffff;
}
.product-card span{
    font-family: 'Montserrat', sans-serif;
    color: crimson;
}
.product-box p{
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    height: 70px;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}
.row-btn{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.row-btn a{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    padding: 6px;
    border-radius: 5px;
}
.row-btn a:hover{
letter-spacing: .4rem;
}

#btn-buy{
    /* background: #555; */
    margin-right: 5px;
  background-image: linear-gradient(90deg,#743ad5, #d53a9d 100%);
  border-radius:5px;
}
#btn-buy:after {
    content:attr(alt);
    width:20vw;
    height:8vw;
    background-color:#191919;
  }
#btn-buy:hover {
    animation:slidebg 2s linear infinite;
  }
  
  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }
#btn-view{
    /* background: teal; */
    margin-right: 5px;
    background-image: linear-gradient(90deg,#743ad5, #d53a9d 100%);
    border-radius:5px;
  }
  #btn-view:after {
      content:attr(alt);
      width:20vw;
      height:8vw;
      background-color:#191919;
    }
  #btn-view:hover {
      animation:slidebg 2s linear infinite;
    }
    
    @keyframes slidebg {
      to {
        background-position:20vw;
      }
    }
.product-card input{
    position: absolute;
    width: 20px;
    height: 20px;
}